header {
  width: 100%;
  padding: 20px 0;
  background: $header-color;

  .logo {
    width: 223px;

    a {
      display: flex;
      align-items: center;
      
      img {
        width: 100%;
      }
    }
  }
}