.pop-up-create {
  width: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 5;
  background: $white;
  border: 1px solid $text-color;
  padding: 20px;
  border-radius: 5px;
  display: none;

  &--show {
    display: block;
  }
}

.form-row {
  // position: relative;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  &-register {
    width: 80%;
    margin: 0 auto;
  }

  &-field{
    flex: 0 0 49%;
    margin-bottom: 20px;

    &__group {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > .form-field:last-child {
        flex: 0 0 49%;
      }
    }

    &__input {
      outline: 0;
      display: block;
      width: 100%;
      padding: 10px;
      border: 0;
      border: 2px solid $text-color;
      border-radius: 5px;
      font-size: 16px;

      &[type="file"] {
        border: 0;
        padding: 0;
      }

      &--textarea {
        height: 172px;
        font-family: $text-font;
      }

      &--extra {
        margin-top: 20px;
      }
    }

    &--full {
      flex: 0 0 100%;
    }

    &__button {
      margin-right: 0;
    }

    &:last-child {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
    }

    &--left:last-child {
      justify-content: flex-start;
    }

  }
}

.filter {
  position: sticky;
  top: 5px;
  border: 1px solid $text-color;
  border-radius: 10px;
  padding: 10px;
}