* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $text-font;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 230px);
}

h1, h2, h3 {
  font-family: $title-font;
  color: $text-color;
  margin: 0;
}

h2 {
  font-size: 26px;

  &.bigger {
    font-size: 32px;
    color: $white;
  }

  &.register-title {
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

h3 {
  font-size: 20px;
}

p.danger {
  color: #d80505;
  font-weight: 700;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;

}